{% extends "main/base.html" %}

{% block content %}

	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Зміну пароля надіслано</h2>
		<hr>
		<p>Ми надіслали вам інструкції щодо встановлення пароля, якщо з введеною вами електронною поштою існує обліковий
            запис. Ви повинні отримати їх найближчим часом.<br>Якщо ви не отримали електронного листа, будь ласка,
            переконайтеся, що ви ввели адресу, за якою ви зареєструвалися, і перевірте папку зі спамом.</p>
    </div>

{% endblock %}
