{% extends "main/base.html" %}
{% load crispy_forms_filters %}


{% block content %}

	{% load crispy_forms_tags %}          

	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Змінити пароль</h2>
		<hr>
		<p>Забули свій пароль? Введіть свою електронну адресу нижче, і ми надішлемо електронною поштою інструкції
            щодо налаштування нової.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Відправити лист</button>
        </form>
  	</div> 

{% endblock %}
