<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5f7d1021fb.js" crossorigin="anonymous"></script>
    <title>Kursach</title>
    {% load static %}
    <link rel="stylesheet" href="/static/main/css/main.css" type="text/css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'main:home' %}">Europe tour</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about_us:about-us' %}">About-us</a>
                    </li>
				</ul>

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <form class="d-flex" method="POST" action="{% url 'main:search' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fa-solid fa-user"></i></a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Вийти</a></li>
                            {% else%}
                                <li><a class="dropdown-item" href="{% url 'users:login' %}">Авторизація</a></li>
                                <li><a class="dropdown-item" href="{% url 'users:register' %}">Реєстрація</a></li>
                            {% endif %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<footer>
    {% block content %}{% endblock  %}
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>