{% extends "main/base.html" %}

{% block content %}

   {% for attraction in Attractions %}
            <div>
                {{ attraction.title }}
            </div>

            <div>
                <img src="{{ attraction.images.url }}" width = 300>
            </div>
            <div>
                <p class="text-justify">{{ attraction.description}}</p>
            </div>
            <div id="favourite-section">
            <a href="#">
               <i class="fa-regular fa-heart"></i>
            </a>
            </div>
   {% endfor %}

{% endblock %}