{% extends "main/base.html" %}
{% block title %}
    Регіони
{% endblock %}

{% block content %}

    <div class="row row-cols-2 row-cols-md-2 g-4">

        {% for person in About_us %}
            <div class="col">
                <h4>Ім'я: {{ person.name }}</h4>
                 <div>
                    <img class="img-fluid rounded" src="{{ person.images.url }}">
                 </div>
                <div>
                    <p>Тип: {{ person.type}}</p>
                    <p>Мотивація: {{ person.motivation }}</p>
                    <p>Локація: {{ person.position }}</p>
                    <p>Якості: {{ person.power }}</p>
                    <p>Слабкості: {{ person.weaknesses }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}